.heading {
  color: white;
  font-size: xx-large;
  text-align: center;
  margin-top: 20px;
  background: linear-gradient(90deg, #ffe259, #ef973f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* media queries */

@media (max-width: 450px) {
  .heading {
    font-size: x-large;
  }
}
